nav {
    font-weight:bold;
    display:inline-block;
    padding:10px 2px;
}
#routine{
    background-color: green;
    text-align: center;
    font-size: 20px;
}
table{
    width: 80%;
    height:200px;
}